{
 "kind": "discovery#restDescription",
 "etag": "\"zRMgE0l9nVDW4S28VYYcYQF9UW4/4DDKQxCre8GXby7-eJOIU30hG_o\"",
 "discoveryVersion": "v1",
 "id": "isb_cgc_api:v2",
 "name": "isb_cgc_api",
 "version": "v2",
 "title": "ISB-CGC API",
 "description": "Get information about cohorts, patients, and samples. Create and delete cohorts.",
 "icons": {
  "x16": "http://www.google.com/images/icons/product/search-16.gif",
  "x32": "http://www.google.com/images/icons/product/search-32.gif"
 },
 "documentationLink": "http://isb-cancer-genomics-cloud.readthedocs.io/en/latest/sections/progapi/Programmatic-API.html#isb-cgc-api-v2",
 "protocol": "rest",
 "baseUrl": "https://api-dot-isb-cgc.appspot.com/_ah/api/isb_cgc_api/v2/",
 "basePath": "/_ah/api/isb_cgc_api/v2/",
 "rootUrl": "https://api-dot-isb-cgc.appspot.com/_ah/api/",
 "servicePath": "isb_cgc_api/v2/",
 "batchPath": "batch",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/userinfo.email": {
     "description": "View your email address"
    }
   }
  }
 },
 "schemas": {
  "ApiIsbCgcApiCohortsCloudstoragefilepathsGCSFilePathList": {
   "id": "ApiIsbCgcApiCohortsCloudstoragefilepathsGCSFilePathList",
   "type": "object",
   "properties": {
    "cloud_storage_file_paths": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "count": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "ApiIsbCgcApiCohortsCreateCreatedCohort": {
   "id": "ApiIsbCgcApiCohortsCreateCreatedCohort",
   "type": "object",
   "properties": {
    "filters": {
     "type": "array",
     "items": {
      "$ref": "ApiIsbCgcApiCohortsCreateFilterDetails"
     }
    },
    "id": {
     "type": "string"
    },
    "last_date_saved": {
     "type": "string"
    },
    "name": {
     "type": "string"
    },
    "patient_count": {
     "type": "integer",
     "format": "int32"
    },
    "sample_count": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "ApiIsbCgcApiCohortsCreateFilterDetails": {
   "id": "ApiIsbCgcApiCohortsCreateFilterDetails",
   "type": "object",
   "properties": {
    "name": {
     "type": "string"
    },
    "value": {
     "type": "string"
    }
   }
  },
  "ApiIsbCgcApiCohortsDeleteReturnJSON": {
   "id": "ApiIsbCgcApiCohortsDeleteReturnJSON",
   "type": "object",
   "properties": {
    "message": {
     "type": "string"
    }
   }
  },
  "ApiIsbCgcApiCohortsGetCohortDetails": {
   "id": "ApiIsbCgcApiCohortsGetCohortDetails",
   "type": "object",
   "properties": {
    "comments": {
     "type": "string"
    },
    "email": {
     "type": "string"
    },
    "filters": {
     "type": "array",
     "items": {
      "$ref": "ApiIsbCgcApiIsbCgcApiHelpersFilterDetails"
     }
    },
    "id": {
     "type": "string"
    },
    "last_date_saved": {
     "type": "string"
    },
    "name": {
     "type": "string"
    },
    "parent_id": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "patient_count": {
     "type": "integer",
     "format": "int32"
    },
    "patients": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "permission": {
     "type": "string"
    },
    "sample_count": {
     "type": "integer",
     "format": "int32"
    },
    "samples": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "source_notes": {
     "type": "string"
    },
    "source_type": {
     "type": "string"
    }
   }
  },
  "ApiIsbCgcApiCohortsGooglegenomicsGoogleGenomics": {
   "id": "ApiIsbCgcApiCohortsGooglegenomicsGoogleGenomics",
   "type": "object",
   "properties": {
    "GG_dataset_id": {
     "type": "string"
    },
    "GG_readgroupset_id": {
     "type": "string"
    },
    "SampleBarcode": {
     "type": "string"
    }
   }
  },
  "ApiIsbCgcApiCohortsGooglegenomicsGoogleGenomicsList": {
   "id": "ApiIsbCgcApiCohortsGooglegenomicsGoogleGenomicsList",
   "type": "object",
   "properties": {
    "count": {
     "type": "integer",
     "format": "int32"
    },
    "items": {
     "type": "array",
     "items": {
      "$ref": "ApiIsbCgcApiCohortsGooglegenomicsGoogleGenomics"
     }
    }
   }
  },
  "ApiIsbCgcApiCohortsListCohortDetails": {
   "id": "ApiIsbCgcApiCohortsListCohortDetails",
   "type": "object",
   "properties": {
    "comments": {
     "type": "string"
    },
    "email": {
     "type": "string"
    },
    "filters": {
     "type": "array",
     "items": {
      "$ref": "ApiIsbCgcApiIsbCgcApiHelpersFilterDetails"
     }
    },
    "id": {
     "type": "string"
    },
    "last_date_saved": {
     "type": "string"
    },
    "name": {
     "type": "string"
    },
    "parent_id": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "patient_count": {
     "type": "integer",
     "format": "int32"
    },
    "permission": {
     "type": "string"
    },
    "sample_count": {
     "type": "integer",
     "format": "int32"
    },
    "source_notes": {
     "type": "string"
    },
    "source_type": {
     "type": "string"
    }
   }
  },
  "ApiIsbCgcApiCohortsListCohortDetailsList": {
   "id": "ApiIsbCgcApiCohortsListCohortDetailsList",
   "type": "object",
   "properties": {
    "count": {
     "type": "integer",
     "format": "int32"
    },
    "items": {
     "type": "array",
     "items": {
      "$ref": "ApiIsbCgcApiCohortsListCohortDetails"
     }
    }
   }
  },
  "ApiIsbCgcApiCohortsPreviewCohortPatientsSamplesList": {
   "id": "ApiIsbCgcApiCohortsPreviewCohortPatientsSamplesList",
   "type": "object",
   "properties": {
    "patient_count": {
     "type": "integer",
     "format": "int32"
    },
    "patients": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "sample_count": {
     "type": "integer",
     "format": "int32"
    },
    "samples": {
     "type": "array",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "ApiIsbCgcApiIsbCgcApiHelpersFilterDetails": {
   "id": "ApiIsbCgcApiIsbCgcApiHelpersFilterDetails",
   "type": "object",
   "properties": {
    "name": {
     "type": "string"
    },
    "value": {
     "type": "string"
    }
   }
  },
  "ApiIsbCgcApiMessageClassesMetadataItem": {
   "id": "ApiIsbCgcApiMessageClassesMetadataItem",
   "type": "object",
   "properties": {
    "BMI": {
     "type": "number",
     "format": "double"
    },
    "ParticipantBarcode": {
     "type": "string"
    },
    "Project": {
     "type": "string"
    },
    "SampleBarcode": {
     "type": "string"
    },
    "SampleTypeCode": {
     "type": "string"
    },
    "Study": {
     "type": "string"
    },
    "TSSCode": {
     "type": "string"
    },
    "age_at_initial_pathologic_diagnosis": {
     "type": "integer",
     "format": "int32"
    },
    "anatomic_neoplasm_subdivision": {
     "type": "string"
    },
    "avg_percent_lymphocyte_infiltration": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_monocyte_infiltration": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_necrosis": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_neutrophil_infiltration": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_normal_cells": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_stromal_cells": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_tumor_cells": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_tumor_nuclei": {
     "type": "number",
     "format": "double"
    },
    "batch_number": {
     "type": "integer",
     "format": "int32"
    },
    "bcr": {
     "type": "string"
    },
    "clinical_M": {
     "type": "string"
    },
    "clinical_N": {
     "type": "string"
    },
    "clinical_T": {
     "type": "string"
    },
    "clinical_stage": {
     "type": "string"
    },
    "colorectal_cancer": {
     "type": "string"
    },
    "country": {
     "type": "string"
    },
    "days_to_birth": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_collection": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_death": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_initial_pathologic_diagnosis": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_last_followup": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_last_known_alive": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_submitted_specimen_dx": {
     "type": "integer",
     "format": "int32"
    },
    "ethnicity": {
     "type": "string"
    },
    "frozen_specimen_anatomic_site": {
     "type": "string"
    },
    "gender": {
     "type": "string"
    },
    "gleason_score_combined": {
     "type": "integer",
     "format": "int32"
    },
    "has_27k": {
     "type": "boolean"
    },
    "has_450k": {
     "type": "boolean"
    },
    "has_BCGSC_GA_RNASeq": {
     "type": "boolean"
    },
    "has_BCGSC_HiSeq_RNASeq": {
     "type": "boolean"
    },
    "has_GA_miRNASeq": {
     "type": "boolean"
    },
    "has_HiSeq_miRnaSeq": {
     "type": "boolean"
    },
    "has_Illumina_DNASeq": {
     "type": "boolean"
    },
    "has_RPPA": {
     "type": "boolean"
    },
    "has_SNP6": {
     "type": "boolean"
    },
    "has_UNC_GA_RNASeq": {
     "type": "boolean"
    },
    "has_UNC_HiSeq_RNASeq": {
     "type": "boolean"
    },
    "height": {
     "type": "integer",
     "format": "int32"
    },
    "histological_type": {
     "type": "string"
    },
    "history_of_colon_polyps": {
     "type": "string"
    },
    "history_of_neoadjuvant_treatment": {
     "type": "string"
    },
    "history_of_prior_malignancy": {
     "type": "string"
    },
    "hpv_calls": {
     "type": "string"
    },
    "hpv_status": {
     "type": "string"
    },
    "icd_10": {
     "type": "string"
    },
    "icd_o_3_histology": {
     "type": "string"
    },
    "icd_o_3_site": {
     "type": "string"
    },
    "lymphatic_invasion": {
     "type": "string"
    },
    "lymphnodes_examined": {
     "type": "string"
    },
    "lymphovascular_invasion_present": {
     "type": "string"
    },
    "max_percent_lymphocyte_infiltration": {
     "type": "number",
     "format": "double"
    },
    "max_percent_monocyte_infiltration": {
     "type": "number",
     "format": "double"
    },
    "max_percent_necrosis": {
     "type": "number",
     "format": "double"
    },
    "max_percent_neutrophil_infiltration": {
     "type": "number",
     "format": "double"
    },
    "max_percent_normal_cells": {
     "type": "number",
     "format": "double"
    },
    "max_percent_stromal_cells": {
     "type": "number",
     "format": "double"
    },
    "max_percent_tumor_cells": {
     "type": "number",
     "format": "double"
    },
    "max_percent_tumor_nuclei": {
     "type": "number",
     "format": "double"
    },
    "menopause_status": {
     "type": "string"
    },
    "min_percent_lymphocyte_infiltration": {
     "type": "number",
     "format": "double"
    },
    "min_percent_monocyte_infiltration": {
     "type": "number",
     "format": "double"
    },
    "min_percent_necrosis": {
     "type": "number",
     "format": "double"
    },
    "min_percent_neutrophil_infiltration": {
     "type": "number",
     "format": "double"
    },
    "min_percent_normal_cells": {
     "type": "number",
     "format": "double"
    },
    "min_percent_stromal_cells": {
     "type": "number",
     "format": "double"
    },
    "min_percent_tumor_cells": {
     "type": "number",
     "format": "double"
    },
    "min_percent_tumor_nuclei": {
     "type": "number",
     "format": "double"
    },
    "mononucleotide_and_dinucleotide_marker_panel_analysis_status": {
     "type": "string"
    },
    "mononucleotide_marker_panel_analysis_status": {
     "type": "string"
    },
    "neoplasm_histologic_grade": {
     "type": "string"
    },
    "new_tumor_event_after_initial_treatment": {
     "type": "string"
    },
    "number_of_lymphnodes_examined": {
     "type": "integer",
     "format": "int32"
    },
    "number_of_lymphnodes_positive_by_he": {
     "type": "integer",
     "format": "int32"
    },
    "number_pack_years_smoked": {
     "type": "integer",
     "format": "int32"
    },
    "pathologic_M": {
     "type": "string"
    },
    "pathologic_N": {
     "type": "string"
    },
    "pathologic_T": {
     "type": "string"
    },
    "pathologic_stage": {
     "type": "string"
    },
    "person_neoplasm_cancer_status": {
     "type": "string"
    },
    "pregnancies": {
     "type": "string"
    },
    "primary_neoplasm_melanoma_dx": {
     "type": "string"
    },
    "primary_therapy_outcome_success": {
     "type": "string"
    },
    "prior_dx": {
     "type": "string"
    },
    "psa_value": {
     "type": "number",
     "format": "double"
    },
    "race": {
     "type": "string"
    },
    "residual_tumor": {
     "type": "string"
    },
    "tobacco_smoking_history": {
     "type": "string"
    },
    "tumor_tissue_site": {
     "type": "string"
    },
    "tumor_type": {
     "type": "string"
    },
    "vital_status": {
     "type": "string"
    },
    "weight": {
     "type": "integer",
     "format": "int32"
    },
    "weiss_venous_invasion": {
     "type": "string"
    },
    "year_of_initial_pathologic_diagnosis": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "ApiIsbCgcApiMessageClassesMetadataRangesItem": {
   "id": "ApiIsbCgcApiMessageClassesMetadataRangesItem",
   "type": "object",
   "properties": {
    "BMI": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "BMI_gte": {
     "type": "number",
     "format": "double"
    },
    "BMI_lte": {
     "type": "number",
     "format": "double"
    },
    "ParticipantBarcode": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "Project": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "SampleBarcode": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "SampleTypeCode": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "Study": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "TSSCode": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "age_at_initial_pathologic_diagnosis": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "age_at_initial_pathologic_diagnosis_gte": {
     "type": "integer",
     "format": "int32"
    },
    "age_at_initial_pathologic_diagnosis_lte": {
     "type": "integer",
     "format": "int32"
    },
    "anatomic_neoplasm_subdivision": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "avg_percent_lymphocyte_infiltration": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "avg_percent_lymphocyte_infiltration_gte": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_lymphocyte_infiltration_lte": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_monocyte_infiltration": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "avg_percent_monocyte_infiltration_gte": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_monocyte_infiltration_lte": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_necrosis": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "avg_percent_necrosis_gte": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_necrosis_lte": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_neutrophil_infiltration": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "avg_percent_neutrophil_infiltration_gte": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_neutrophil_infiltration_lte": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_normal_cells": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "avg_percent_normal_cells_gte": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_normal_cells_lte": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_stromal_cells": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "avg_percent_stromal_cells_gte": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_stromal_cells_lte": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_tumor_cells": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "avg_percent_tumor_cells_gte": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_tumor_cells_lte": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_tumor_nuclei": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "avg_percent_tumor_nuclei_gte": {
     "type": "number",
     "format": "double"
    },
    "avg_percent_tumor_nuclei_lte": {
     "type": "number",
     "format": "double"
    },
    "batch_number": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "batch_number_gte": {
     "type": "integer",
     "format": "int32"
    },
    "batch_number_lte": {
     "type": "integer",
     "format": "int32"
    },
    "bcr": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "clinical_M": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "clinical_N": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "clinical_T": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "clinical_stage": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "colorectal_cancer": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "country": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "days_to_birth": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "days_to_birth_gte": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_birth_lte": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_collection": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "days_to_collection_gte": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_collection_lte": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_death": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "days_to_death_gte": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_death_lte": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_initial_pathologic_diagnosis": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "days_to_initial_pathologic_diagnosis_gte": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_initial_pathologic_diagnosis_lte": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_last_followup": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "days_to_last_followup_gte": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_last_followup_lte": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_last_known_alive": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "days_to_last_known_alive_gte": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_last_known_alive_lte": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_submitted_specimen_dx": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "days_to_submitted_specimen_dx_gte": {
     "type": "integer",
     "format": "int32"
    },
    "days_to_submitted_specimen_dx_lte": {
     "type": "integer",
     "format": "int32"
    },
    "ethnicity": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "frozen_specimen_anatomic_site": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "gender": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "gleason_score_combined": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "gleason_score_combined_gte": {
     "type": "integer",
     "format": "int32"
    },
    "gleason_score_combined_lte": {
     "type": "integer",
     "format": "int32"
    },
    "has_27k": {
     "type": "array",
     "items": {
      "type": "boolean"
     }
    },
    "has_450k": {
     "type": "array",
     "items": {
      "type": "boolean"
     }
    },
    "has_BCGSC_GA_RNASeq": {
     "type": "array",
     "items": {
      "type": "boolean"
     }
    },
    "has_BCGSC_HiSeq_RNASeq": {
     "type": "array",
     "items": {
      "type": "boolean"
     }
    },
    "has_GA_miRNASeq": {
     "type": "array",
     "items": {
      "type": "boolean"
     }
    },
    "has_HiSeq_miRnaSeq": {
     "type": "array",
     "items": {
      "type": "boolean"
     }
    },
    "has_Illumina_DNASeq": {
     "type": "array",
     "items": {
      "type": "boolean"
     }
    },
    "has_RPPA": {
     "type": "array",
     "items": {
      "type": "boolean"
     }
    },
    "has_SNP6": {
     "type": "array",
     "items": {
      "type": "boolean"
     }
    },
    "has_UNC_GA_RNASeq": {
     "type": "array",
     "items": {
      "type": "boolean"
     }
    },
    "has_UNC_HiSeq_RNASeq": {
     "type": "array",
     "items": {
      "type": "boolean"
     }
    },
    "height": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "height_gte": {
     "type": "integer",
     "format": "int32"
    },
    "height_lte": {
     "type": "integer",
     "format": "int32"
    },
    "histological_type": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "history_of_colon_polyps": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "history_of_neoadjuvant_treatment": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "history_of_prior_malignancy": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "hpv_calls": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "hpv_status": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "icd_10": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "icd_o_3_histology": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "icd_o_3_site": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "lymphatic_invasion": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "lymphnodes_examined": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "lymphovascular_invasion_present": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "max_percent_lymphocyte_infiltration": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "max_percent_lymphocyte_infiltration_gte": {
     "type": "number",
     "format": "double"
    },
    "max_percent_lymphocyte_infiltration_lte": {
     "type": "number",
     "format": "double"
    },
    "max_percent_monocyte_infiltration": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "max_percent_monocyte_infiltration_gte": {
     "type": "number",
     "format": "double"
    },
    "max_percent_monocyte_infiltration_lte": {
     "type": "number",
     "format": "double"
    },
    "max_percent_necrosis": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "max_percent_necrosis_gte": {
     "type": "number",
     "format": "double"
    },
    "max_percent_necrosis_lte": {
     "type": "number",
     "format": "double"
    },
    "max_percent_neutrophil_infiltration": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "max_percent_neutrophil_infiltration_gte": {
     "type": "number",
     "format": "double"
    },
    "max_percent_neutrophil_infiltration_lte": {
     "type": "number",
     "format": "double"
    },
    "max_percent_normal_cells": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "max_percent_normal_cells_gte": {
     "type": "number",
     "format": "double"
    },
    "max_percent_normal_cells_lte": {
     "type": "number",
     "format": "double"
    },
    "max_percent_stromal_cells": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "max_percent_stromal_cells_gte": {
     "type": "number",
     "format": "double"
    },
    "max_percent_stromal_cells_lte": {
     "type": "number",
     "format": "double"
    },
    "max_percent_tumor_cells": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "max_percent_tumor_cells_gte": {
     "type": "number",
     "format": "double"
    },
    "max_percent_tumor_cells_lte": {
     "type": "number",
     "format": "double"
    },
    "max_percent_tumor_nuclei": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "max_percent_tumor_nuclei_gte": {
     "type": "number",
     "format": "double"
    },
    "max_percent_tumor_nuclei_lte": {
     "type": "number",
     "format": "double"
    },
    "menopause_status": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "min_percent_lymphocyte_infiltration": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "min_percent_lymphocyte_infiltration_gte": {
     "type": "number",
     "format": "double"
    },
    "min_percent_lymphocyte_infiltration_lte": {
     "type": "number",
     "format": "double"
    },
    "min_percent_monocyte_infiltration": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "min_percent_monocyte_infiltration_gte": {
     "type": "number",
     "format": "double"
    },
    "min_percent_monocyte_infiltration_lte": {
     "type": "number",
     "format": "double"
    },
    "min_percent_necrosis": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "min_percent_necrosis_gte": {
     "type": "number",
     "format": "double"
    },
    "min_percent_necrosis_lte": {
     "type": "number",
     "format": "double"
    },
    "min_percent_neutrophil_infiltration": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "min_percent_neutrophil_infiltration_gte": {
     "type": "number",
     "format": "double"
    },
    "min_percent_neutrophil_infiltration_lte": {
     "type": "number",
     "format": "double"
    },
    "min_percent_normal_cells": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "min_percent_normal_cells_gte": {
     "type": "number",
     "format": "double"
    },
    "min_percent_normal_cells_lte": {
     "type": "number",
     "format": "double"
    },
    "min_percent_stromal_cells": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "min_percent_stromal_cells_gte": {
     "type": "number",
     "format": "double"
    },
    "min_percent_stromal_cells_lte": {
     "type": "number",
     "format": "double"
    },
    "min_percent_tumor_cells": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "min_percent_tumor_cells_gte": {
     "type": "number",
     "format": "double"
    },
    "min_percent_tumor_cells_lte": {
     "type": "number",
     "format": "double"
    },
    "min_percent_tumor_nuclei": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "min_percent_tumor_nuclei_gte": {
     "type": "number",
     "format": "double"
    },
    "min_percent_tumor_nuclei_lte": {
     "type": "number",
     "format": "double"
    },
    "mononucleotide_and_dinucleotide_marker_panel_analysis_status": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "mononucleotide_marker_panel_analysis_status": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "neoplasm_histologic_grade": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "new_tumor_event_after_initial_treatment": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "number_of_lymphnodes_examined": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "number_of_lymphnodes_examined_gte": {
     "type": "integer",
     "format": "int32"
    },
    "number_of_lymphnodes_examined_lte": {
     "type": "integer",
     "format": "int32"
    },
    "number_of_lymphnodes_positive_by_he": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "number_of_lymphnodes_positive_by_he_gte": {
     "type": "integer",
     "format": "int32"
    },
    "number_of_lymphnodes_positive_by_he_lte": {
     "type": "integer",
     "format": "int32"
    },
    "number_pack_years_smoked": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "number_pack_years_smoked_gte": {
     "type": "integer",
     "format": "int32"
    },
    "number_pack_years_smoked_lte": {
     "type": "integer",
     "format": "int32"
    },
    "pathologic_M": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "pathologic_N": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "pathologic_T": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "pathologic_stage": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "person_neoplasm_cancer_status": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "pregnancies": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "primary_neoplasm_melanoma_dx": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "primary_therapy_outcome_success": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "prior_dx": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "psa_value": {
     "type": "array",
     "items": {
      "type": "number",
      "format": "double"
     }
    },
    "psa_value_gte": {
     "type": "number",
     "format": "double"
    },
    "psa_value_lte": {
     "type": "number",
     "format": "double"
    },
    "race": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "residual_tumor": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "tobacco_smoking_history": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "tumor_tissue_site": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "tumor_type": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "vital_status": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "weight": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "weight_gte": {
     "type": "integer",
     "format": "int32"
    },
    "weight_lte": {
     "type": "integer",
     "format": "int32"
    },
    "weiss_venous_invasion": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "year_of_initial_pathologic_diagnosis": {
     "type": "array",
     "items": {
      "type": "integer",
      "format": "int32"
     }
    },
    "year_of_initial_pathologic_diagnosis_gte": {
     "type": "integer",
     "format": "int32"
    },
    "year_of_initial_pathologic_diagnosis_lte": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "ApiIsbCgcApiPatientsGetPatientDetails": {
   "id": "ApiIsbCgcApiPatientsGetPatientDetails",
   "type": "object",
   "properties": {
    "aliquots": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "clinical_data": {
     "$ref": "ApiIsbCgcApiMessageClassesMetadataItem"
    },
    "samples": {
     "type": "array",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "ApiIsbCgcApiSamplesCloudstoragefilepathsGCSFilePathList": {
   "id": "ApiIsbCgcApiSamplesCloudstoragefilepathsGCSFilePathList",
   "type": "object",
   "properties": {
    "cloud_storage_file_paths": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "count": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "ApiIsbCgcApiSamplesGetDataDetails": {
   "id": "ApiIsbCgcApiSamplesGetDataDetails",
   "type": "object",
   "properties": {
    "DataCenterName": {
     "type": "string"
    },
    "DataCenterType": {
     "type": "string"
    },
    "DataFileName": {
     "type": "string"
    },
    "DataFileNameKey": {
     "type": "string"
    },
    "DataLevel": {
     "type": "string"
    },
    "DatafileUploaded": {
     "type": "string"
    },
    "Datatype": {
     "type": "string"
    },
    "GG_dataset_id": {
     "type": "string"
    },
    "GG_readgroupset_id": {
     "type": "string"
    },
    "GenomeReference": {
     "type": "string"
    },
    "Pipeline": {
     "type": "string"
    },
    "Platform": {
     "type": "string"
    },
    "Project": {
     "type": "string"
    },
    "Repository": {
     "type": "string"
    },
    "SDRFFileName": {
     "type": "string"
    },
    "SampleBarcode": {
     "type": "string"
    },
    "SecurityProtocol": {
     "type": "string"
    },
    "cloud_storage_path": {
     "type": "string"
    },
    "platform_full_name": {
     "type": "string"
    }
   }
  },
  "ApiIsbCgcApiSamplesGetSampleDetails": {
   "id": "ApiIsbCgcApiSamplesGetSampleDetails",
   "type": "object",
   "properties": {
    "aliquots": {
     "type": "array",
     "items": {
      "type": "string"
     }
    },
    "biospecimen_data": {
     "$ref": "ApiIsbCgcApiMessageClassesMetadataItem"
    },
    "data_details": {
     "type": "array",
     "items": {
      "$ref": "ApiIsbCgcApiSamplesGetDataDetails"
     }
    },
    "data_details_count": {
     "type": "integer",
     "format": "int32"
    },
    "patient": {
     "type": "string"
    }
   }
  },
  "ApiIsbCgcApiSamplesGooglegenomicsGoogleGenomics": {
   "id": "ApiIsbCgcApiSamplesGooglegenomicsGoogleGenomics",
   "type": "object",
   "properties": {
    "GG_dataset_id": {
     "type": "string"
    },
    "GG_readgroupset_id": {
     "type": "string"
    },
    "SampleBarcode": {
     "type": "string"
    }
   }
  },
  "ApiIsbCgcApiSamplesGooglegenomicsGoogleGenomicsList": {
   "id": "ApiIsbCgcApiSamplesGooglegenomicsGoogleGenomicsList",
   "type": "object",
   "properties": {
    "count": {
     "type": "integer",
     "format": "int32"
    },
    "items": {
     "type": "array",
     "items": {
      "$ref": "ApiIsbCgcApiSamplesGooglegenomicsGoogleGenomics"
     }
    }
   }
  },
  "ApiIsbCgcApiUsersGetReturnJSON": {
   "id": "ApiIsbCgcApiUsersGetReturnJSON",
   "type": "object",
   "properties": {
    "dbGaP_authorized": {
     "type": "boolean"
    },
    "message": {
     "type": "string"
    }
   }
  }
 },
 "resources": {
  "cohorts": {
   "methods": {
    "cloud_storage_file_paths": {
     "id": "isb_cgc_api.cohorts.cloud_storage_file_paths",
     "path": "cohorts/{cohort_id}/cloud_storage_file_paths",
     "httpMethod": "GET",
     "description": "Takes a cohort id as a required parameter and returns cloud storage paths to files associated with all the samples in that cohort, up to a default limit of 10,000 files. Authentication is required. User must have READER or OWNER permissions on the cohort.",
     "parameters": {
      "cohort_id": {
       "type": "string",
       "required": true,
       "format": "int64",
       "location": "path"
      },
      "limit": {
       "type": "string",
       "format": "int64",
       "location": "query"
      },
      "pipeline": {
       "type": "string",
       "location": "query"
      },
      "platform": {
       "type": "string",
       "location": "query"
      }
     },
     "parameterOrder": [
      "cohort_id"
     ],
     "response": {
      "$ref": "ApiIsbCgcApiCohortsCloudstoragefilepathsGCSFilePathList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/userinfo.email"
     ]
    },
    "create": {
     "id": "isb_cgc_api.cohorts.create",
     "path": "cohorts/create",
     "httpMethod": "POST",
     "description": "Creates and saves a cohort. Takes a JSON object in the request body to use as the cohort's filters. Authentication is required. Returns information about the saved cohort, including the number of patients and the number of samples in that cohort.",
     "parameters": {
      "name": {
       "type": "string",
       "required": true,
       "location": "query"
      }
     },
     "parameterOrder": [
      "name"
     ],
     "request": {
      "$ref": "ApiIsbCgcApiMessageClassesMetadataRangesItem",
      "parameterName": "resource"
     },
     "response": {
      "$ref": "ApiIsbCgcApiCohortsCreateCreatedCohort"
     },
     "scopes": [
      "https://www.googleapis.com/auth/userinfo.email"
     ]
    },
    "delete": {
     "id": "isb_cgc_api.cohorts.delete",
     "path": "cohorts/{cohort_id}",
     "httpMethod": "DELETE",
     "description": "Deletes a cohort. User must have owner permissions on the cohort.",
     "parameters": {
      "cohort_id": {
       "type": "string",
       "required": true,
       "format": "int64",
       "location": "path"
      }
     },
     "parameterOrder": [
      "cohort_id"
     ],
     "response": {
      "$ref": "ApiIsbCgcApiCohortsDeleteReturnJSON"
     },
     "scopes": [
      "https://www.googleapis.com/auth/userinfo.email"
     ]
    },
    "get": {
     "id": "isb_cgc_api.cohorts.get",
     "path": "cohorts/{cohort_id}",
     "httpMethod": "GET",
     "description": "Returns information about a specific cohort the user has READER or OWNER permission on when given a cohort ID. Authentication is required.",
     "parameters": {
      "cohort_id": {
       "type": "string",
       "required": true,
       "format": "int64",
       "location": "path"
      }
     },
     "parameterOrder": [
      "cohort_id"
     ],
     "response": {
      "$ref": "ApiIsbCgcApiCohortsGetCohortDetails"
     },
     "scopes": [
      "https://www.googleapis.com/auth/userinfo.email"
     ]
    },
    "googlegenomics": {
     "id": "isb_cgc_api.cohorts.googlegenomics",
     "path": "cohorts/{cohort_id}/googlegenomics",
     "httpMethod": "GET",
     "description": "Returns a list of Google Genomics dataset and readgroupset ids associated with all the samples in a specified cohort. Authentication is required. User must have either READER or OWNER permissions on the cohort.",
     "parameters": {
      "cohort_id": {
       "type": "string",
       "required": true,
       "format": "int64",
       "location": "path"
      }
     },
     "parameterOrder": [
      "cohort_id"
     ],
     "response": {
      "$ref": "ApiIsbCgcApiCohortsGooglegenomicsGoogleGenomicsList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/userinfo.email"
     ]
    },
    "list": {
     "id": "isb_cgc_api.cohorts.list",
     "path": "cohorts",
     "httpMethod": "GET",
     "description": "Returns information about cohorts a user has either READER or OWNER permission on. Authentication is required. Optionally takes a cohort id as a parameter to only list information about one cohort.",
     "response": {
      "$ref": "ApiIsbCgcApiCohortsListCohortDetailsList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/userinfo.email"
     ]
    },
    "preview": {
     "id": "isb_cgc_api.cohorts.preview",
     "path": "cohorts/preview",
     "httpMethod": "POST",
     "description": "Takes a JSON object of filters in the request body and returns a \"preview\" of the cohort that would result from passing a similar request to the cohort **save** endpoint. This preview consists of two lists: the lists of participant (aka patient) barcodes, and the list of sample barcodes. Authentication is not required.",
     "request": {
      "$ref": "ApiIsbCgcApiMessageClassesMetadataRangesItem",
      "parameterName": "resource"
     },
     "response": {
      "$ref": "ApiIsbCgcApiCohortsPreviewCohortPatientsSamplesList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/userinfo.email"
     ]
    }
   }
  },
  "patients": {
   "methods": {
    "get": {
     "id": "isb_cgc_api.patients.get",
     "path": "patients/{patient_barcode}",
     "httpMethod": "GET",
     "description": "Returns information about a specific patient, including a list of samples and aliquots derived from this patient. Takes a patient barcode (of length 12, *eg* TCGA-B9-7268) as a required parameter. User does not need to be authenticated.",
     "parameters": {
      "patient_barcode": {
       "type": "string",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "patient_barcode"
     ],
     "response": {
      "$ref": "ApiIsbCgcApiPatientsGetPatientDetails"
     },
     "scopes": [
      "https://www.googleapis.com/auth/userinfo.email"
     ]
    }
   }
  },
  "samples": {
   "methods": {
    "cloud_storage_file_paths": {
     "id": "isb_cgc_api.samples.cloud_storage_file_paths",
     "path": "samples/{sample_barcode}/cloud_storage_file_paths",
     "httpMethod": "GET",
     "description": "Takes a sample barcode as a required parameter and returns cloud storage paths to files associated with that sample.",
     "parameters": {
      "pipeline": {
       "type": "string",
       "location": "query"
      },
      "platform": {
       "type": "string",
       "location": "query"
      },
      "sample_barcode": {
       "type": "string",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "sample_barcode"
     ],
     "response": {
      "$ref": "ApiIsbCgcApiSamplesCloudstoragefilepathsGCSFilePathList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/userinfo.email"
     ]
    },
    "get": {
     "id": "isb_cgc_api.samples.get",
     "path": "samples/{sample_barcode}",
     "httpMethod": "GET",
     "description": "Given a sample barcode (of length 16, *eg* TCGA-B9-7268-01A), this endpoint returns all available \"biospecimen\" information about this sample, the associated patient barcode, a list of associated aliquots, and a list of \"data_details\" blocks describing each of the data files associated with this sample",
     "parameters": {
      "pipeline": {
       "type": "string",
       "location": "query"
      },
      "platform": {
       "type": "string",
       "location": "query"
      },
      "sample_barcode": {
       "type": "string",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "sample_barcode"
     ],
     "response": {
      "$ref": "ApiIsbCgcApiSamplesGetSampleDetails"
     },
     "scopes": [
      "https://www.googleapis.com/auth/userinfo.email"
     ]
    },
    "googlegenomics": {
     "id": "isb_cgc_api.samples.googlegenomics",
     "path": "samples/{sample_barcode}/googlegenomics",
     "httpMethod": "GET",
     "description": "Takes a sample barcode as a required parameter and returns the Google Genomics dataset id and readgroupset id associated with the sample, if any.",
     "parameters": {
      "sample_barcode": {
       "type": "string",
       "required": true,
       "location": "path"
      }
     },
     "parameterOrder": [
      "sample_barcode"
     ],
     "response": {
      "$ref": "ApiIsbCgcApiSamplesGooglegenomicsGoogleGenomicsList"
     },
     "scopes": [
      "https://www.googleapis.com/auth/userinfo.email"
     ]
    }
   }
  },
  "users": {
   "methods": {
    "get": {
     "id": "isb_cgc_api.users.get",
     "path": "users",
     "httpMethod": "GET",
     "description": "Returns the dbGaP authorization status of the user.",
     "response": {
      "$ref": "ApiIsbCgcApiUsersGetReturnJSON"
     },
     "scopes": [
      "https://www.googleapis.com/auth/userinfo.email"
     ]
    }
   }
  }
 }
}